body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

#page1
{
    text-shadow: 0 0 0px #000; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 0px #000;
    -webkit-text-shadow: 0 0 0px #000;
    width: 100%;
    height: 100%;
    background-image: url("../img/splash.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

a:link,
a:visited,
a:hover,
a:active
{
    color: #FFFFFF;
    text-decoration: none;
}

a:hover{
    background-color: #4fa8dd;
}

#launchbtn{
    font-weight:normal;
    color: #FFFFFF;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    position: absolute;
    bottom: 100px;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    width: 40%;
    text-align: center;
    border: 1.5px solid #FFFFFF;
}

p{font-weight:normal;width: 100%;text-align:center;font-weight:normal;
    color: #FFFFFF;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    position: absolute;
    bottom: 50px;
    display: block;
    height: 15px;
    line-height: 15px;
    font-size: 15px;}