/* position of POI-radar*/
#screen{
	position: absolute;
	width: 100%;
	height: 60%;
	overflow: hidden;
}

#addAirnote{
    position: absolute;
    display: none;
    width: 85%;
    height: 150px;
    background-color: #e9e9e9;
    top:30px;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
}

.radarContainer_middle {
	position:absolute;
	bottom:70px;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	width:100px;
	height:100px;
	display: block;
}

.nav{
	position:absolute;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: 50px;
}

.nav ul{
	list-style-type:none;
	margin: 0 0;
	padding: 0 0;
}

.nav li{display: inline-block;width: 25%;float:left;}

.nav li a{
	width: 97.5%;
	height: 50px;
	background-size: 100% 50px;
	float: left;
}

.nav_screenshot{
	background-image: url("../assets/nav_screenshot.png");
	margin-left: 0.5%;
	
}

.nav_share{
	background-image: url("../assets/nav_share.png");
	
}

.nav_favorite{
	background-image: url("../assets/nav_favorite.png");
	
}

.nav_setting{
	background-image: url("../assets/nav_setting.png");
}

#panel-distance{
	width: 100%;
}

#panel-favorite{
	width: 100%;
}

.mybtn{
	margin-top: 30px;
	background-color: #4f7fc1;
	border-radius: 3px;
	height: 50px;
	width: 200px;
}

.privateinfo img{
	width: 28px;
	height: 18px;
}

#panel-favorite .favlist img
{
	width: 23.5px;
	height: 22.5px;
}

.mybtn a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
.mybtn a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
.mybtn a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
.mybtn a:active {
    color: white;
    text-decoration: none;
}